[access]
	inheritFrom = All-Projects
[project]
	description = "KNoT Thing library is a lightweight C/C++ library built to use minimal CPU and memory resources. It is intended to run on KNoT Nodes (Things) (see KNoT  Architecture for better understanding).   It provides the Radio and Protocol abstractions for the application. The application builder just need implement the read/write functions for its sensors/actuators, register a Data Item (sensor or actuator) on the library and call the run() method  on its main loop routine."
[access "refs/*"]
	owner = group user/Thiago Cardoso (figueredo)
[access "refs/for/refs/*"]
	read = group user/Thiago Cardoso (figueredo)
	push = group user/Thiago Cardoso (figueredo)
	label-Code-Review = -2..+2 group user/Thiago Cardoso (figueredo)
	label-Verified = -1..+1 group user/Thiago Cardoso (figueredo)
	rebase = group user/Thiago Cardoso (figueredo)
	removeReviewer = group user/Thiago Cardoso (figueredo)
	submit = group user/Thiago Cardoso (figueredo)
[access "refs/heads/*"]
	read = group user/Thiago Cardoso (figueredo)
	create = group user/Thiago Cardoso (figueredo)
	push = +force group user/Thiago Cardoso (figueredo)
	pushMerge = group user/Thiago Cardoso (figueredo)
[access "refs/tags/*"]
	push = group user/Thiago Cardoso (figueredo)
	push = +force group user/Thiago Cardoso (figueredo)
